.section-transaction {
    .card-header {
        h3 {
            font-family: "Merriweather";
            font-size: 32px;
            font-weight: 600;
            color: #1e124c;
        }
        span {
            color: #5b5575;
        }
    }
    th {
        color: #1e124c;
        font-weight: 600;
    }
    .btn-payment {
        background-color: #a43ce3;
        border-radius: 50px;
        color: #fff;
    }
}
